:root {
  --padding-left-body: 5%;
  --padding-navbar: 1%;
  --background-body: #fafafa;
  --background-table: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  overflow: overlay;
  min-width: 320px;
  width: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a9b0b3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7e8c8f;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-body);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--background-body);
  min-width: 700px;
}

h1 {
  color: #353535;
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0px;
  color: #353535;
}


.navbar-container {
  width: 100%;
  padding: 0 var(--padding-navbar) 0 var(--padding-navbar);
  box-sizing: border-box;
}

.navbar {
  display: flex;
  /*border: 1px solid #000;*/
  justify-content: space-between;
  align-items: center;
  color: #353535;
  margin: 15px;
  min-width: 700px;
}

.navbar-title .title {
  font-size: 2.5rem;
}

.navbar-title .by {
  font-size: 1.5rem;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-user div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-user div span {
  width: 100%;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
}

.navbar-user img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.quiz-form {
  margin: 50px 0 50px 0;
  width: 100%;
  padding-left: var(--padding-left-body);
  box-sizing: border-box;
  /*border: 1px solid blue;*/
}

.quiz-sub-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  align-items: stretch;
  flex-direction: column;
}

.group-container {
  color: white;
  /*border: 1px solid red;*/
}

.group-container h2 {
  text-align: left;
  text-shadow: 1px 1px #cccccc;
  margin-bottom: 10px;
}

.group-sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  align-items: stretch;
  flex-direction: row;
}

.quiz-item {
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 300px;
  height: 200px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  transition: box-shadow 0.3s;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.1s ease-in-out;
  color: #353535;
}

.quiz-item:hover {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.quiz-item .img-container {
  width:100%;
  height:100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

.quiz-item img {
  display: block;
  height:150px;
  width:300px;
}

.quiz-item .title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05rem;
  width: 100%;
  text-align: center;
}
.quiz-item .not-done {
  text-align: right;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
}

.quiz-item .infos .date {
  font-weight: bold;
  font-size: 20px;
}

.quiz-item .infos .score {
  font-weight: bold;
  font-size: 20px;
}

.quiz-item .infos {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 5px 10px 0 0;
}

.quiz-item-disabled {
  cursor: default;
  background-color: rgb(95, 138, 95);
}

.quiz-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #222222;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

.quiz-item h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222222;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

.quiz-item h5 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #222222;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

label {
  color: #555;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #1e88e5;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0d47a1;
}




/* Library modifications */

.result-answer-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 30px;
}



/* Result modal */

.result-container {
  margin-top: 20px;
}

.result-item {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.answer-list {
  list-style-type: none;
  padding: 0;
}

.correct-answer,
.selected-correct-answer {
  color: green;
}

.incorrect-answer,
.selected-incorrect-answer {
  color: red;
}

.selected-correct-answer,
.selected-incorrect-answer {
  font-weight: bold;
}

.answer-feedback {
  margin-top: 10px;
}

.correct-answer-message {
  color: green;
}

.incorrect-answer-message {
  color: red;
}

.answer-explanation {
  margin-top: 10px;
}

/* Table */

.button-stats{
  vertical-align: middle;
}

.quiz-table {
  min-width: 700px;
  /*border: 1px solid cyan;*/
  margin-top: 50px;
  width: 100%;
  box-sizing: border-box;
  padding-left: var(--padding-left-body);
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
  /*border: 1px solid purple;*/
}

.quiz-table table {
  margin-right: auto;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--background-table);
}

.quiz-table td {
  border-bottom: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  padding: 4px 8px 4px 8px;
  height: 36px;
  text-align: center;
}

.quiz-table td:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.quiz-table th {
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  padding: 4px 8px 4px 8px;
}

.quiz-table td:first-child {
  text-align: left;
  font-weight: bold;
  cursor: auto;
  background-color: var(--background-table);
}

.quiz-table th:first-child,
.quiz-table td:first-child {
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  position: sticky;
  left: 0;
  z-index: 1;
}


.quiz-table .months-to-show {
  text-align: left;
}

.green-score {
  color: green;
  font-weight: bold;
}

.red-score {
  color: red;
  font-weight: bold;
}

.quiz-table .todo {
  color: blue;
  font-weight: bold;
}

.quiz-table .notdone {
  color: red;
  font-weight: bold;
}

/*Loading*/
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4e73df;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #4e73df;
}


/* Error */
.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f8d7da;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  color: #dc3545;
}

.error-text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #dc3545;
}

.blink {
  animation: blinker 0.75s linear infinite;
}
@keyframes blinker {
  50% {
      opacity: 0.2;
  }
}